{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1 class="mb-4">Dashboard</h1>

    <div class="mb-4">

        <div class="container flex-wrap justify-content-center px-3 py-2">
            <div class="row">
                <div class="card col m-2">
                    <div class="card-body">
                        <h1 class="card-title card-number text-nowrap">{{ stats["month_rides"] }}</h1>
                        <p class="card-text">Rides in {{ stats["month"] }}</p>
                    </div>
                </div>
                <div class="card col m-2">
                    <div class="card-body">
                        <h1 class="card-title card-number text-nowrap">{{ stats["month_distance"] }}</h1>
                        <p class="card-text">Kilometers in {{ stats["month"] }}</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card col m-2">
                    <div class="card-body">
                        <h1 class="card-title card-number text-nowrap">{{ stats["total_rides"] }}</h1>
                        <p class="card-text">Total rides</p>
                    </div>
                </div>
                <div class="card col m-2">
                    <div class="card-body">
                        <h1 class="card-title card-number text-nowrap">{{ stats["total_distance"] }}</h1>
                        <p class="card-text">Total Kilometers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

